<div class="min-h-[calc(100vh-64px)] flex items-center justify-center p-4">
  <div class="max-w-md w-full bg-white rounded-xl shadow-md p-6 border border-gray-100">
    <h2 class="text-2xl font-bold text-center text-gray-800 mb-6">
      {{ 'login.title' | transloco }}
    </h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="space-y-4">
      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'login.email' | transloco }}</mat-label>
        <input
          matInput
          type="email"
          formControlName="email"
          autocomplete="email"
          [placeholder]="'login.emailPlaceholder' | transloco"
        />
        @if (loginForm.get('email')?.hasError('required')) {
          <mat-error>{{ 'login.emailRequired' | transloco }}</mat-error>
        }
        @if (loginForm.get('email')?.hasError('email')) {
          <mat-error>{{ 'login.emailInvalid' | transloco }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field appearance="outline" class="w-full">
        <mat-label>{{ 'login.password' | transloco }}</mat-label>
        <input
          matInput
          [type]="showPassword() ? 'text' : 'password'"
          formControlName="password"
          autocomplete="current-password"
          [placeholder]="'login.passwordPlaceholder' | transloco"
        />
        <button matIconButton matSuffix type="button" (click)="switchPasswordVisibility()">
          <mat-icon>{{ showPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        @if (loginForm.get('password')?.hasError('required')) {
          <mat-error>{{ 'login.passwordRequired' | transloco }}</mat-error>
        }
      </mat-form-field>

      <button
        matButton="filled"
        color="primary"
        type="submit"
        [disabled]="isLoading()"
        class="w-full"
      >
        {{ isLoading() ? ('login.loggingIn' | transloco) : ('login.submit' | transloco) }}
      </button>
    </form>

    <div class="mt-4 text-center">
      <a
        routerLink="/forgot-password"
        class="text-sm hover:underline transition text-(--mat-sys-primary)"
      >
        {{ 'login.forgotPassword' | transloco }}
      </a>
    </div>

    <p class="mt-3 text-center text-sm text-gray-500">
      {{ 'login.no-account' | transloco }}
      <a routerLink="/register" class="hover:underline text-(--mat-sys-primary)">
        {{ 'login.register' | transloco }}
      </a>
    </p>
  </div>
</div>
