<mat-toolbar class="app-toolbar sticky top-0 z-50">
  <div class="flex justify-between items-center w-full h-full">
    <a routerLink="/" class="flex items-center gap-2 no-underline h-full py-2">
      <img src="assets/images/logoApp.png" alt="logo" class="h-26" />
    </a>

    <div class="flex items-center gap-1">
      <button
        *appAuth
        mat-icon-button
        (click)="logout()"
        [matTooltip]="'home.nav.logout' | transloco"
      >
        <mat-icon>logout</mat-icon>
      </button>

      @if (!isAuthenticated()) {
      <button mat-icon-button routerLink="/login" [matTooltip]="'home.nav.login' | transloco">
        <mat-icon>login</mat-icon>
      </button>
      } @else {
      <button mat-icon-button (click)="navigateToProfile()" [matTooltip]="'home.nav.profile' | transloco">
        <mat-icon>person</mat-icon>
      </button>
      }

      <button matButton="outlined" (click)="toggleLang()" class="min-w-0 px-3">
        {{ getActiveLang().toUpperCase() }}
      </button>
    </div>
  </div>
</mat-toolbar>
