<section class="landing-section">
  <div class="landing-card">
    <h1 class="landing-title">{{ 'home.card.title' | transloco }}</h1>
    <p class="landing-subtitle">{{ 'home.card.subtitle' | transloco }}</p>

    @if (!auth.isAuthenticated()) {
      <div class="landing-actions justify-end">
        <button mat-flat-button color="primary" routerLink="/login" class="landing-btn">
          {{ 'home.actions.login' | transloco }}
          <mat-icon iconPositionEnd>arrow_forward</mat-icon>
        </button>
      </div>
    } @else {
      <div class="landing-actions">
        <ng-container *rolesAssigned="['MARKETING', 'HR']">
          <button mat-flat-button color="primary" routerLink="/events/add" class="landing-btn">
            <mat-icon>add_circle</mat-icon>
            {{ 'home.actions.create-event' | transloco }}
          </button>
        </ng-container>

        <ng-container *rolesAssigned="'ADMIN'">
          <button mat-flat-button color="primary" routerLink="/users" class="landing-btn">
            <mat-icon>group</mat-icon>
            {{ 'home.actions.see-users' | transloco }}
          </button>
        </ng-container>

        <button mat-stroked-button color="primary" routerLink="/events" class="landing-btn">
          <mat-icon>event</mat-icon>
          {{ 'home.actions.see-events' | transloco }}
        </button>
      </div>
    }
  </div>
</section>
