<div class="max-w-4xl mx-auto mt-12 p-6">
  <h1 class="text-4xl font-bold text-gray-800 mb-4 text-center">
    {{ 'home.title' | transloco }}
  </h1>
  <p class="text-lg text-gray-600 mb-8 text-center">{{ 'home.subtitle' | transloco }}</p>

  @if (auth.isAuthenticated()) {
    <div
      class="px-4 py-3 rounded-xl mb-8 bg-(--mat-sys-primary-container) border border-(--mat-sys-primary) text-(--mat-sys-on-primary-container)"
    >
      <p class="text-center font-medium">{{ 'home.authenticated-message' | transloco }}</p>
    </div>

    <div
      *rolesAssigned="'participant'"
      class="p-6 rounded-lg mb-6 text-(--mat-sys-surface-container-low)"
    >
      <h2 class="text-2xl font-bold text-gray-800 mb-3">
        {{ 'home.participant.title' | transloco }}
      </h2>
      <p class="text-gray-700">{{ 'home.participant.description' | transloco }}</p>
    </div>

    <div
      *rolesAssigned="'marketing'"
      class="p-6 rounded-lg mb-6 text-(--mat-sys-surface-container-low)"
    >
      <h2 class="text-2xl font-bold text-gray-800 mb-3">
        {{ 'home.marketing.title' | transloco }}
      </h2>
      <p class="text-gray-700">{{ 'home.marketing.description' | transloco }}</p>
    </div>

    <div *rolesAssigned="'hr'" class="p-6 rounded-lg mb-6 text-(--mat-sys-surface-container-low)">
      <h2 class="text-2xl font-bold text-gray-800 mb-3">{{ 'home.hr.title' | transloco }}</h2>
      <p class="text-gray-700">{{ 'home.hr.description' | transloco }}</p>
    </div>

    <div
      *rolesAssigned="'admin'"
      class="p-6 rounded-lg mb-6 text-(--mat-sys-surface-container-low)"
    >
      <h2 class="text-2xl font-bold text-gray-800 mb-3">{{ 'home.admin.title' | transloco }}</h2>
      <p class="text-gray-700">{{ 'home.admin.description' | transloco }}</p>
    </div>
  } @else {
    <div
      class="px-4 py-3 rounded-xl bg-(--mat-sys-surface-container) border border-(--mat-sys-outline-variant) text-(--mat-sys-on-surface)"
    >
      <p class="text-center font-medium">{{ 'home.unauthenticated-message' | transloco }}</p>
    </div>
  }
</div>
